
body {
    background-color: lightgray;
}

.container {
    padding: 1% 5% 2% 5%;
}

#col-header {
    background-color: lightblue;
    padding: 2% 0 2% 0;
    text-align: center;
    /* height: 100%; ** TRYING TO MAKE MAIN COLUMN FILL ENTIRE PAGE
    top: 0px;
    bottom: 0; */
}

#col-timer {
    background-color: lightgreen;
    padding: 1% 2% 1% 0;
    text-align: right;
}

#timer-display {
    text-align: left;
}

.score-section {
    background-color: lightgoldenrodyellow;
    padding: 1% 0 0 2%;
    text-align: left;
}

#correct-score-display {
    margin: 0 2% 0 1%;
}

#incorrect-score-display {
    margin: 0 0 0 1%;
}

#col-question {
    background-color: lightcoral;
    padding: 5% 0 1% 0;
    text-align: center;
}

#questionText {
    margin: 2%;
}

#col-answers {
    background-color: lightslategray;
    padding: 2% 2% 1% 2%;
    text-align: left;
}

.row4 {
    background-color: lightseagreen;
}